body {
	font-family: sans-serif;	
	line-height: 16px;
	font-size: 15px;
	color: #06185c;
	margin: 4px;
	/* do not add scroll bars unless overridden on sub-elements */
	overflow-y: auto;
	overflow-x: hidden;
	
	
}
em{
	font-size: 10px;
	color:  #99FF33;
	cursor: pointer;
	font-style:italic;
	font-weight:bold;
	align: right;
	vertical-align:middle;;
}
.button {
	align: right;
	float: none;	
	padding: 4px;
}

.tbox {
	
	height: 30px;	
	width: 45px;		
	padding-top:0px;
	padding-bottom:0px;
	padding-right:5px;
	padding-left:5px;
}
table {
	border: 1px solid black;	
	border-collapse:collapse;
	max-width: 99%;
		
}

th
{
	border: 1px solid black;
	background-color:grey;
	border-collapse:collapse;
	vertical-align:middle;
	text-align:center;
	padding:5px;
	color: white;
}
td
{
	border: 1px solid black;
	vertical-align:middle;
	text-align:center;
	padding:5px;
}

tr:nth-child(odd) {
  	background-color: #eee;
}
tr:nth-child(even) {
  	background-color: #fff;
}
tr:hover { 
	background: #def; 
}
div#map {
	height: 100%; 
	background: #eee;
	margin: 0px;
	padding: 0px;
}

div#toolbox {
	height: 100%; width: 320px;
	float: left;
	background: #ccc;
	margin: 0px;
	padding: 0px;
	/* add vertical scroll bar if content does not fit */
	overflow-x: hidden;
	overflow-y: auto;
}

img#legend {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



h2 {
	font-size: 100%;
	float: left;
}

h1 {
	font-size: 125%;
	font-weight: bold;
	float: left;
	padding: 0.4em;
	margin: 0px;
}
p {
    font-size: 100%
}

p.footnote {
    font-size: 75%;    
}
div.container {
	border: 1px solid #000000;
	height: 35px;
	width: 100%;
	background: #888;
}
div.controls {
	height: 30px;
	width: 100%;	
}
div.headerL {
	float: left;
	width: 38%;
	margin: 0px;
	height: 35px;
	
	
}
div.headerR {
	float: right;
	width: 58%;
	margin: 1px;
	height: 35px;
	text-align:right;
	
}

div#toolbox {
	margin: 0px;
	padding: 0em;
}

form {
	margin: 0px;
	padding: 0.4em 0.4em 0.6em 0.4em;
}

form span {
	/* group labels and their buttons together on a single line */
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	/* can we keep rows of buttons from wrapping when vertical scroll bar appears ? */
 	/* white-space: */  
}


form span label {
	float: left;
	width: 150px;
}

form span input {
	float: right;
	width: 150px;
}

form span select {
	float: right;
	width: 150px;
}

form span.timeEntry select {
	float: left;
}

.autoWidth {
	width: auto;
}

.narrowInput {
	width: 4em;
}

.halfWidth {
	width: 48%;
}
.fullWidth {
	width: 100%;
}

